<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Header</title>
</head>
<body>
    <header>
    <nav>
      <img src="/home/img/vital-logo.png" alt="Vital Suplementos" class="logo">

      <ul class="menu">
        <li><a href="/home/index.html">Início</a></li>
        <li><a href="dashboard.html">Dashboard</a></li>
        <li><a href="indicacao.html">Indicação</a></li>
        <li><a href="gamificacao.html">Gamificação</a></li>
        <li><a href="/produtos/produtos.html">Produtos</a></li>
      </ul>
      <ul class="user-menu">
        <li><a href="/login/login.html">Login</a></li>
        <li><a href="/cadastro/cadastro.html">Cadastro</a></li>
      </ul>
    </nav>
  </header>


</body>
</html>